## ABOUT PROJECT

<span class="girk">- The aviation accident database synopses project, known as Aviation Data, is a comprehensive collection of data related to
  aviation accidents worldwide, providing detailed information and analysis to enhance safety and understanding within the 
  aviation industry.
 
<span class="girk"> - The NTSB aviation accident database contains information from 1962 and later about civil aviation accidents and selected 
  incidents within the United States, its territories and possessions, and in international waters.</span></span>
  
    - The NTSB is an independent federal agency in the United States responsible for investigating transportation 
      accidents, including those involving aviation.

## OBJECTIVE

<span class="pirk">- The objective of the project on Aviation Accident Damage from the National Transportation Safety Board (NTSB) is to
  thoroughly investigate and analyze aviation accidents in order to understand the causes and consequences of these 
  incidents. 

        - Determine if there are any specific plane models or engine types that exhibit a higher level of risk or danger 
          in terms  of flight safety.

        - Investigate the weather conditions that have contributed to aviation accidents, aiming to understand the 
          specific factors  that lead to these incidents. 

        - Analyze the correlation between the number of engines on an aircraft and the likelihood of survivability, with 
          the goal  of determining if a higher number of engines leads to increased safety.

        - Assess which phase of a flight poses the highest level of risk or danger, considering factors such as takeoff, 
          climb,  cruise, descent, or landing.

## IMPORTING LIBRARIES

In [26]:
import pandas as pd
import numpy as np 
import warnings 
warnings.filterwarnings( "ignore")
pd.set_option("display.max_columns", None)

## IMPORTING DATA

In [17]:
# Reading the CSV file "AviationData.csv" and storing it in the variable "Aviation"

# Specifying the encoding as 'mac_roman' to handle any special characters in the file

Aviation = pd.read_csv("AviationData.csv" , encoding = 'mac_roman')

Aviation

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87277,20211223104439,Accident,GAA22WA054,2021-12-21,"Auxerre, OF",United States,475047N,0032948W,NaN,NaN,...,Unknown,NaN,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
87278,20211228104450,Accident,WPR22LA069,2021-12-22,"Auburn, CA",United States,NaN,NaN,NaN,NaN,...,Positioning,"Fox Two, LLC",0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN
87279,20211227104443,Accident,CEN22FA082,2021-12-26,"Hardy, AR",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
87280,20211230104454,Accident,ERA22LA097,2021-12-29,"Marathon, FL",United States,NaN,NaN,NaN,NaN,...,NaN,ExecAir,0.0,3.0,0.0,0.0,NaN,NaN,NaN,NaN
87281,20211214104403,Accident,GAA22WA047,2022-12-08,"La Aurora, OF",PACIFIC OCEAN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN

In [21]:
Aviation.shape

(87282, 31)

### DATA DESCRIPTION

In [28]:
# Create a dictionary to store the information about the dataset

info_dict = {
    
    'Column': Aviation.columns.tolist(),    # Store the column names in a list
    
    'Non-Null Count': Aviation.count().tolist(), # Store the count of non-null values for each column
    
    'Dtype': Aviation.dtypes.tolist(), # Store the data types of each column
    
    'Null_Percentage' : np.round(( 87282 - Aviation.count()) * 100 / 87282) # Calculate the percentage of null values in each column
    
}


# Create a DataFrame from the info_dict dictionary

Description = pd.DataFrame(info_dict).reset_index(drop = True)

Description

                    Column  Non-Null Count    Dtype  Null_Percentage
0                 Event.Id           87282   object              0.0
1       Investigation.Type           87282   object              0.0
2          Accident.Number           87282   object              0.0
3               Event.Date           87282   object              0.0
4                 Location           87230   object              0.0
5                  Country           87056   object              0.0
6                 Latitude           33073   object             62.0
7                Longitude           33064   object             62.0
8             Airport.Code           49217   object             44.0
9             Airport.Name           51870   object             41.0
10         Injury.Severity           86399   object              1.0
11         Aircraft.damage           84272   object              3.0
12       Aircraft.Category           30783   object             65.0
13     Registration.Number           85900   object              2.0
14                    Make           87219   object              0.0
15                   Model           87190   object              0.0
16           Amateur.Built           87180   object              0.0
17       Number.of.Engines           81533  float64              7.0
18             Engine.Type           81372   object              7.0
19         FAR.Description           30458   object             65.0
20                Schedule           12330   object             86.0
21       Purpose.of.flight           81493   object              7.0
22             Air.carrier           15971   object             82.0
23    Total.Fatal.Injuries           75881  float64             13.0
24  Total.Serious.Injuries           74772  float64             14.0
25    Total.Minor.Injuries           75349  float64             14.0
26         Total.Uninjured           81370  float64              7.0
27       Weather.Condition           83304   object              5.0
28   Broad.phase.of.flight           61724   object             29.0
29           Report.Status           82067   object              6.0
30        Publication.Date           73629   object             16.0

### STATISTICAL SUMMARY

In [31]:
Aviation.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,81533.000000,75881.000000,74772.000000,75349.000000,81370.000000
mean,1.147131,0.652772,0.280921,0.360814,5.311847
std,0.447085,5.521338,1.557476,2.257721,27.899156
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [33]:
# Describing the 'Aviation' DataFrame, including only object-type columns and excluding numerical columns
# include='object' specifies that we want to include only object-type columns in the description
# exclude=np.number specifies that we want to exclude numerical columns from the description

Aviation.describe(include = 'object' , exclude = np.number)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
count,87282,87282,87282,87282,87230,87056,33073,33064,49217,51870,86399,84272,30783,85900,87219,87190,87180,81372,30458,12330,81493,15971,83304,61724,82067,73629
unique,86370,2,87282,14435,27171,210,24752,26206,10252,24545,107,4,12,77696,8045,12185,4,10,31,3,28,13079,4,12,16666,2686
top,20001212X19172,Accident,SEA87LA080,1984-06-30,"ANCHORAGE, AK",United States,332739N,0112457W,NONE,Private,Non-Fatal,Substantial,Airplane,NONE,Cessna,152,No,Reciprocating,091,NSCH,Personal,Pilot,VMC,Landing,Probable Cause,25-09-2020
freq,3,83536,1,25,434,80998,19,22,1486,232,66561,62975,26343,344,22227,2350,58165,69159,17131,4284,48655,246,76251,15428,61754,17019

### DATA CLEANING

#### Checking for Duplicates

In [41]:
Aviation[Aviation.duplicated()]

Empty DataFrame
Columns: [Event.Id, Investigation.Type, Accident.Number, Event.Date, Location, Country, Latitude, Longitude, Airport.Code, Airport.Name, Injury.Severity, Aircraft.damage, Aircraft.Category, Registration.Number, Make, Model, Amateur.Built, Number.of.Engines, Engine.Type, FAR.Description, Schedule, Purpose.of.flight, Air.carrier, Total.Fatal.Injuries, Total.Serious.Injuries, Total.Minor.Injuries, Total.Uninjured, Weather.Condition, Broad.phase.of.flight, Report.Status, Publication.Date]
Index: []

#### FILLING NULL VALUES

In [44]:
# Create an empty DataFrame to store columns and their null values
Null_Values = pd.DataFrame( ) 

# Retrieve the columns with null values and add them to the 'Columns' column of Null_Values DataFrame
Null_Values['Columns'] = Aviation.isnull( ).sum( ) [Aviation.isnull( ).sum( ) > 0].index.tolist( )

# Retrieve the corresponding null values for each column and add them to the 'Null_Values' column of Null_Values DataFrame
Null_Values['Null_Values'] = Aviation.isnull( ).sum( ) [Aviation.isnull( ).sum( ) > 0].values.tolist( )

# Displaying the percentage of null values for each column and add then to the %_of_Null_Values in Null_values DataFrame
pct_null_values = list((Aviation.isnull( ).sum( )[Aviation.isnull().sum()>0].values/Aviation.shape[0] * 100).round(2))
Null_Values['%_of_Null_Values'] = [str(i)+"%"  for i in pct_null_values]
Null_Values

                   Columns  Null_Values %_of_Null_Values
0                 Location           52            0.06%
1                  Country          226            0.26%
2                 Latitude        54209           62.11%
3                Longitude        54218           62.12%
4             Airport.Code        38065           43.61%
5             Airport.Name        35412           40.57%
6          Injury.Severity          883            1.01%
7          Aircraft.damage         3010            3.45%
8        Aircraft.Category        56499           64.73%
9      Registration.Number         1382            1.58%
10                    Make           63            0.07%
11                   Model           92            0.11%
12           Amateur.Built          102            0.12%
13       Number.of.Engines         5749            6.59%
14             Engine.Type         5910            6.77%
15         FAR.Description        56824            65.1%
16                Schedule        74952           85.87%
17       Purpose.of.flight         5789            6.63%
18             Air.carrier        71311            81.7%
19    Total.Fatal.Injuries        11401           13.06%
20  Total.Serious.Injuries        12510           14.33%
21    Total.Minor.Injuries        11933           13.67%
22         Total.Uninjured         5912            6.77%
23       Weather.Condition         3978            4.56%
24   Broad.phase.of.flight        25558           29.28%
25           Report.Status         5215            5.97%
26        Publication.Date        13653           15.64%

##### CATEGORICAL DATA

In [47]:
## Using Simple Imputer to fill in the null spaces with the mode values for categorical data

from sklearn.impute import SimpleImputer

Imputer = SimpleImputer(strategy = 'most_frequent')

Imputer.fit(Aviation.select_dtypes('object'))

DF = pd.DataFrame(Imputer.transform(Aviation.select_dtypes('object')),columns = Aviation.select_dtypes('object').columns )

In [49]:
Aviation['Number.of.Engines'].unique()

array([ 1., nan,  2.,  0.,  3.,  4.,  8.])

In [51]:
# Even Number.of.Engines is also a categorical variable so we are going to impute the missing values using most frequent values
Aviation['Number.of.Engines'].fillna(Aviation['Number.of.Engines'].mode()[0],inplace = True)

##### NUMERIC DATA

In [54]:
## Using Simple Imputer to fill in the null spaces with the mean values for the numeric data

Imputer_n = SimpleImputer(strategy = 'mean')

Imputer_n.fit(Aviation.select_dtypes(np.number))

DF_1 = pd.DataFrame(Imputer_n.transform(Aviation.select_dtypes(np.number)),columns = Aviation.select_dtypes(np.number).columns)

##### CONCATENATING THE CLEANING DATA FRAME

In [57]:
Aviation = pd.concat([DF,DF_1],axis = 1)
Aviation

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,Aircraft.Category,Registration.Number,Make,Model,Amateur.Built,Engine.Type,FAR.Description,Schedule,Purpose.of.flight,Air.carrier,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,332739N,0112457W,NONE,Private,Fatal(2),Destroyed,Airplane,NC6404,Stinson,108-3,No,Reciprocating,091,NSCH,Personal,Pilot,UNK,Cruise,Probable Cause,25-09-2020,1.0,2.0,0.000000,0.000000,0.000000
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,332739N,0112457W,NONE,Private,Fatal(4),Destroyed,Airplane,N5069P,Piper,PA24-180,No,Reciprocating,091,NSCH,Personal,Pilot,UNK,Unknown,Probable Cause,19-09-1996,1.0,4.0,0.000000,0.000000,0.000000
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NONE,Private,Fatal(3),Destroyed,Airplane,N5142R,Cessna,172M,No,Reciprocating,091,NSCH,Personal,Pilot,IMC,Cruise,Probable Cause,26-02-2007,1.0,3.0,0.280921,0.360814,5.311847
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,332739N,0112457W,NONE,Private,Fatal(2),Destroyed,Airplane,N1168J,Rockwell,112,No,Reciprocating,091,NSCH,Personal,Pilot,IMC,Cruise,Probable Cause,12-09-2000,1.0,2.0,0.000000,0.000000,0.000000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,332739N,0112457W,NONE,Private,Fatal(1),Destroyed,Airplane,N15NY,Cessna,501,No,Reciprocating,091,NSCH,Personal,Pilot,VMC,Approach,Probable Cause,16-04-1980,1.0,1.0,2.000000,0.360814,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87277,20211223104439,Accident,GAA22WA054,2021-12-21,"Auxerre, OF",United States,475047N,0032948W,NONE,Private,Fatal,Destroyed,Airplane,N565CK,CIRRUS DESIGN CORP,SR22,N,Reciprocating,NUSN,NSCH,Unknown,Pilot,VMC,Landing,Probable Cause,25-09-2020,1.0,1.0,0.000000,0.000000,0.000000
87278,20211228104450,Accident,WPR22LA069,2021-12-22,"Auburn, CA",United States,332739N,0112457W,NONE,Private,Non-Fatal,Substantial,Airplane,N6280F,CESSNA,172N,N,Reciprocating,091,NSCH,Positioning,"Fox Two, LLC",VMC,Landing,Probable Cause,25-09-2020,1.0,0.0,0.000000,1.000000,0.000000
87279,20211227104443,Accident,CEN22FA082,2021-12-26,"Hardy, AR",United States,332739N,0112457W,NONE,Private,Fatal,Substantial,Airplane,N5798T,CESSNA,172E,N,Reciprocating,091,NSCH,Personal,Pilot,VMC,Landing,Probable Cause,25-09-2020,1.0,2.0,0.000000,0.000000,0.000000
87280,20211230104454,Accident,ERA22LA097,2021-12-29,"Marathon, FL",United States,332739N,0112457W,NONE,Private,Non-Fatal,Substantial,Airplane,N1596U,CESSNA,207,N,Reciprocating,135,NSCH,Personal,ExecAir,VMC,Landing,Probable Cause,25-09-2020,1.0,0.0,3.000000,0.000000,0.000000
87281,20211214104403,Accident,GAA22WA047,2022-12-08,"La Aurora, OF",PACIFIC OCEAN,332739N,0112457W,NONE,Private,Non-Fatal,Substantial,Airplane,N74521,MOONEY,M20B,N,Reciprocating,NUSN,NSCH,Personal,Pilot,VMC,Landing,Probable Cause,25-09-2020,1.0,0.0,0.000000,0.000000,3.000000

In [59]:
# Checking for null values

Aviation.isnull().sum()[Aviation.isnull().sum()>0]

Series([], dtype: int64)

Finally we have treated all the missing values

In [62]:
Aviation.to_csv("cleaned_dataset.csv", index=False)